spring:
  datasource:
    url: jdbc:mysql://localhost:3306/ndb?useSSL=false&serverTimezone=UTC
    username: nuser
    password: npass

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
